<% if(user==false){ %>
    <img src="/images/Error 404.png" alt="" width="100%">
    <% }else{ %>
        <div class="comet">
            <nav class="for-nav">
                <ul class="list-group list-group-flush">
                    <li>
                        <a href="" class="log">
                            <i class="men"><ion-icon name="grid"></ion-icon></i>
                            <span>Administrar</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i><ion-icon name="id-card"></ion-icon></i>
                            <span>Usuarios</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i><ion-icon name="person-circle"></ion-icon></i>
                            <span>Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i><ion-icon name="send"></ion-icon></i>
                            <span>Pedidos</span>
                        </a>
                    </li>
                    <li>
                        <a href="" class="logout">
                            <i><ion-icon name="log-out"></ion-icon></i>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <% } %>