<% if(user==false){ %>
    <%- include('include/error') %>
<% } else { %>
    <div class="container">
        <div class="row my-3">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/administracion" class="text-dark">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Productos</li>
                </ol>
            </nav>
        </div>
        <div class="row d-flex align-items-center justify-content-between my-3">
            <div class="col-3 my-2 mx-0 d-flex flex-row align-items-center border-bottom">
                <img width="30" height="30" src="https://img.icons8.com/ios/30/search--v1.png"
                    alt="search--v1" />
                <input class="form-control w-100 border-0" list="datalistOptions" id="exampleDataList"
                    placeholder="buscar categoria..." type="text" name="busqueda">
            </div>
            <div class="col-3 d-flex justify-content-end">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Añadir un producto
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Producto</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/api/products" method="post">
                                <div class="modal-body">
                                    <div class="row my-3">
                                        <div class="col-8 d-flex flex-row align-items-center">
                                            <label for="" class="form-label me-2">Producto: </label>
                                            <input type="text" class="form-control" name="product" id=""
                                                required>
                                        </div>
                                        <div class="col-4 d-flex flex-row align-items-center">
                                            <label for="" class="form-label me-2">Precio: </label>
                                            <input type="number" class="form-control" name="price" id=""
                                                required min="1" step="0.01">
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col-8 d-flex flex-row align-items-center">
                                            <label for="" class="form-label me-2">Categoria: </label>
                                            <select class="form-select" id="inputGroupSelect01"
                                            name="categorie" required>
                                                <% categories.forEach((data)=> { %>
                                                    <% if(data.status == 'active') { %>
                                                        <option value="<%= data.categorie %>">
                                                            <%= data.categorie %>
                                                        </option>
                                                    <% } %>
                                                <% }) %>
                                            </select>
                                        </div>
                                        <div class="col-4 d-flex flex-row align-items-center">
                                            <label for="" class="form-label me-2">Stock: </label>
                                            <input type="number" class="form-control" name="stock" id=""
                                                required min="1" step="1">
                                        </div>
                                    </div>
                                    <div class="row my-3">
                                        <div class="col d-flex flex-row align-items-center">
                                            <label for="" class="form-label me-2">Imagen: </label>
                                            <input type="file" class="form-control" id="inputGroupFile01" name="image">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary">Crear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %>