<% if(user==false){ %>
<img src="/images/Error 404.png" alt="" width="100%">
<% }else{ %>
    <div class="comet">
        <nav class="for-nav">
            <ul class="list-group list-group-flush">
                <li>
                    <a href="/cuenta" class="log">
                        <i class="men"><ion-icon name="grid"></ion-icon></i>
                        <span>Administrar</span>
                    </a>
                </li>
                <li>
                    <a href="/usuarios">
                        <i><ion-icon name="id-card"></ion-icon></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i><ion-icon name="person-circle"></ion-icon></i>
                        <span>Clientes</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i><ion-icon name="send"></ion-icon></i>
                        <span>Pedidos</span>
                    </a>
                </li>
                <li>
                    <a href="" class="logout">
                        <i><ion-icon name="log-out"></ion-icon></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    <% } %>