<div class="row">
    <!-- footer -->
    <footer class="bg-primary d-flex justify-content-around flex-column">
        <div class="d-flex flex-row justify-content-around" id="footer-content">
            <div class="py-3">
                <p class="fs-4 fw-bold">Sublisivarte</p>
                <p class="fs-6 ">Tendencias</p>
                <p class="fs-6 ">Productos</p>
                <p class="fs-6 ">¿Quienes Somos?</p>
            </div>
            <div class="py-3">
                <p class="fs-4 fw-bold">Tienda</p>
                <p class="fs-6 ">Terminos y condiciones</p>
                <p class="fs-6 ">Politica de Privacidad</p>
            </div>
            <div class="py-3">
                <p class="fs-4 fw-bold">Ayuda</p>
                <p class="fs-6 ">Preguntas frecuentes</p>
                <p class="fs-6 ">Diseñador de camisetas</p>
            </div>
            <div class="py-3">
                <p class="fs-4 fw-bold">Contactanos</p>
                <p class="fs-6 ">Facebook</p>
                <p class="fs-6 ">Instagram</p>
                <p class="fs-6 ">Correo</p>
            </div>
        </div>
        <div>
            <p class="fs-5 fw-bold  text-center pt-3">© Copyright 2023-2023 Sublisivarte. Todos los Derechos
                Reservados - Instituto Tecnico Ricaldone</p>
        </div>
    </footer>
</div>