<div class="container-fluid py-2 border-bottom">
    <div class="container">
        <div class="row">
            <header>
                <nav class="row d-flex flex-row navegation justify-content-between">
                    <div class="col-2 d-flex flex-row">
                        <a href="/" class="fs-6">Inicio</a>
                        <a href="/products" class="fs-6">Productos</a>
                    </div>
                    <div class="col-2">
                        <% if(user == false ) { %>
                            <%- include('login') %>
                        <% } else { %>
                            <% if(user.role == 'admin'){ %>
                                <a href="/logOut/users"> <%= user.user %> </a>
                                <a href="/cuenta">Cuenta</a>
                            <% } else { %>
                                <a href="/carrito">Carrito</a>
                                <a href="/logOut/users"> <%= user.user %> </a>
                            <% } %>
                        <% } %>
                    </div>
                </nav>
            </header>
        </div>
    </div>
</div>             