<div class="row">
    <div class="navbar bg-primary mt-0 pt-2     px-0" id="nav-info">
        <div class="container-fluid bg-primary d-flex justify-content-center ">
            <!-- desaparece en pantallas pequeñas -->
            <ul class="list-inline mb-0 d-none d-lg-inline-block p-1">
                <li class="list-inline-item opacity-75 mr-2">
                    <a class="text-light text-small pl-0 pr-2" href="">+503 2345 4657 &nbsp; | &nbsp;</a>
                </li>
                <li class="list-inline-item opacity-75 mr-2">
                    <a class="text-light font-size-sm pl-0 pr-2" href=""><img
                            src="https://img.icons8.com/ios/24/FFFFFF/mail.png" />&nbsp;
                        Sublisivarte@gmail.com &nbsp; | &nbsp; </a>
                </li>
            </ul>
            <div class="d-flex justify-content-around">
                <div class="d-flex">
                    <ul class="list-inline mb-0 d-none d-lg-inline-block p-1">
                        <li class="list-inline-item opacity-75 mr-2">
                            <a class="text-light text-small pl-0 pr-2" href="">Nosotros &nbsp; |
                                &nbsp;</a>
                        </li>
                        <li class="list-inline-item opacity-75 mr-2">
                            <a class="text-light text-small pl-0 pr-2" href="">Centro de ayuda &nbsp; |
                                &nbsp;</a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-nowrap align-self-center">
                    <a href=""><img src="https://img.icons8.com/material-rounded/18/FFFFFF/facebook.png" />&nbsp;</a>
                    <a href=""><img src="https://img.icons8.com/windows/20/FFFFFF/instagram-new.png" />&nbsp;</a>
                    <a href=""><img src="https://img.icons8.com/ios/16/FFFFFF/whatsapp--v1.png" />&nbsp;</a>
                    <a href=""><img src="https://img.icons8.com/ios-filled/16/FFFFFF/twitter.png" />&nbsp;</a>
                </div>
            </div>
        </div>
    </div>
    <header>
        <a href="" class="logo"><img src="/images/logo.png" alt="" class="logo-img"></a>
        <nav class="navegation">
            <a href="#">Inicio</a>
            <a href="#">Sobre nosotros</a>
            <a href="#">Servicios</a>
            <a href="#">Contactos</a>
            <button class="btnLogin-popup">Login</button>
        </nav>

        <div class="wrapper">
            <span class="icon-close" id="btn-close-login">
                <ion-icon name="close"></ion-icon>
            </span>
            <div class="form-box login">
                <h2>Login</h2>
                <form action="#">
                    <div class="imput-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="imput-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" required>
                        <label for="">Contraseña</label>
                    </div>
                    <div class="remember-forgot">
                        <label for=""><input type="checkbox"> Recordarme</label>
                        <a href="#">Olvidé mi contraseña</a>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="login-register">
                        <p>¿No tienes una cuenta? <a href="#" class="register-link">Registrarme</a></p>
                    </div>
                </form>
            </div>

            <div class="form-box registrate">
                <h2>Registarte</h2>
                <form action="#">
                    <div class="imput-box">
                        <span class="icon"><ion-icon name="person"></ion-icon></span>
                        <input type="name" required>
                        <label for="">Nombre</label>
                    </div>
                    <div class="imput-box">
                        <span class="icon"><ion-icon name="mail"></ion-icon></span>
                        <input type="email" required>
                        <label for="">Email</label>
                    </div>
                    <div class="imput-box">
                        <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
                        <input type="text" required>
                        <label for="">DUI</label>
                    </div>
                    <div class="imput-box">
                        <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                        <input type="password" required>
                        <label for="">Contraseña</label>
                    </div>
                    <div class="remember-forgot">
                        <label for=""><input type="checkbox"> Accepto los terminos y condiciones</label>
                    </div>
                    <button type="submit" class="btn">Registrarme</button>
                    <div class="login-register">
                        <p>¿Ya tienes una cuenta? <a href="#" class="login-link">Login</a></p>
                    </div>
                </form>
            </div>
        </div>
    </header>
</div>