<form action="/email/password" method="post" id="form">
    <div class="modal-body">
        <div class="col-mb-3">
            <label for="user" class="form-label">Usuario:</label>
            <input type="text" class="form-control" name="user" id="user" required>
            <label for="email" class="form-label">email:</label>
            <input type="email" class="form-control" name="email" id="email" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
</form>
<script src="/password.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>