@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

body {
    background: #131313;
    height: 100%;
}

.form-signin {
    width: 100%;
    max-width: 600px;
    padding-top: 200px;
    margin: auto;
}

.form-signin .btn-lg {
    background-color: #2b2b2b;
    border: 0;
    color: #fff;
    font-size: 200%;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: .5s;
}

.form-signin .btn-lg:hover{
    color: #2b2b2b;
    background: #fff;

}

.form-signin a{
    text-decoration: none;
    color: #fff;
}

.form-signin a:hover{
    color: #2b2b2b;
}

.form-signin .text-muted {
    font-size: 100%;
    text-align: center;
}

.form-signin .fw-normal {
    color: #fff;
    text-align: center;
    font-size: 500%;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: transparent;
    color: #fff;
    border-top: none;
    border-left: none;
    border-right: none;
}

.form-signin input[type="password"] {
    margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    color: #fff;
}