<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="../../resources/css/public.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="navbar bg-primary mt-0 pt-2     px-0" id="nav-info">
                <div class="container-fluid bg-primary d-flex justify-content-center ">
                    <!-- desaparece en pantallas pequeñas -->
                    <ul class="list-inline mb-0 d-none d-lg-inline-block p-1">
                        <li class="list-inline-item opacity-75 mr-2">
                            <a class="text-light text-small pl-0 pr-2" href="">+503 2345 4657 &nbsp; | &nbsp;</a>
                        </li>
                        <li class="list-inline-item opacity-75 mr-2">
                            <a class="text-light font-size-sm pl-0 pr-2" href=""><img
                                    src="https://img.icons8.com/ios/24/FFFFFF/mail.png" />&nbsp;
                                Sublisivarte@gmail.com &nbsp; | &nbsp; </a>
                        </li>
                    </ul>
                    <div class="d-flex justify-content-around">
                        <div class="d-flex">
                            <ul class="list-inline mb-0 d-none d-lg-inline-block p-1">
                                <li class="list-inline-item opacity-75 mr-2">
                                    <a class="text-light text-small pl-0 pr-2" href="">Nosotros &nbsp; |
                                        &nbsp;</a>
                                </li>
                                <li class="list-inline-item opacity-75 mr-2">
                                    <a class="text-light text-small pl-0 pr-2" href="">Centro de ayuda &nbsp; |
                                        &nbsp;</a>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex flex-nowrap align-self-center">
                            <a href=""><img
                                    src="https://img.icons8.com/material-rounded/18/FFFFFF/facebook.png" />&nbsp;</a>
                            <a href=""><img
                                    src="https://img.icons8.com/windows/20/FFFFFF/instagram-new.png" />&nbsp;</a>
                            <a href=""><img src="https://img.icons8.com/ios/16/FFFFFF/whatsapp--v1.png" />&nbsp;</a>
                            <a href=""><img src="https://img.icons8.com/ios-filled/16/FFFFFF/twitter.png" />&nbsp;</a>
                        </div>
                    </div>
                </div>
            </div>
            <header>
                <a href="" class="logo"><img src="../../resources/images/logo.png" alt="" class="logo-img"></a>
                <nav class="navegation">
                    <a href="#">Inicio</a>
                    <a href="#">Sobre nosotros</a>
                    <a href="#">Servicios</a>
                    <a href="#">Contactos</a>
                    <button class="btnLogin-popup">Login</button>
                </nav>

                <div class="wrapper">
                    <span class="icon-close" id="btn-close-login">
                        <ion-icon name="close"></ion-icon>
                    </span>
                    <div class="form-box login">
                        <h2>Login</h2>
                        <form action="#">
                            <div class="imput-box">
                                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                                <input type="email" required>
                                <label for="">Email</label>
                            </div>
                            <div class="imput-box">
                                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                                <input type="password" required>
                                <label for="">Contraseña</label>
                            </div>
                            <div class="remember-forgot">
                                <label for=""><input type="checkbox"> Recordarme</label>
                                <a href="#">Olvidé mi contraseña</a>
                            </div>
                            <button type="submit" class="btn">Login</button>
                            <div class="login-register">
                                <p>¿No tienes una cuenta? <a href="#" class="register-link">Registrarme</a></p>
                            </div>
                        </form>
                    </div>

                    <div class="form-box registrate">
                        <h2>Registarte</h2>
                        <form action="#">
                            <div class="imput-box">
                                <span class="icon"><ion-icon name="person"></ion-icon></span>
                                <input type="name" required>
                                <label for="">Nombre</label>
                            </div>
                            <div class="imput-box">
                                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                                <input type="email" required>
                                <label for="">Email</label>
                            </div>
                            <div class="imput-box">
                                <span class="icon"><ion-icon name="card-outline"></ion-icon></span>
                                <input type="text" required>
                                <label for="">DUI</label>
                            </div>
                            <div class="imput-box">
                                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                                <input type="password" required>
                                <label for="">Contraseña</label>
                            </div>
                            <div class="remember-forgot">
                                <label for=""><input type="checkbox"> Accepto los terminos y condiciones</label>
                            </div>
                            <button type="submit" class="btn">Registrarme</button>
                            <div class="login-register">
                                <p>¿Ya tienes una cuenta? <a href="#" class="login-link">Login</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </header>
        </div>
        <div class="row">
            <div class="container text-light" id="carrito">
                <p class="fs-3">Carrito de Compras</p>
                <div class="row mb-4">
                    <div class="col-10">
                        <div class="row mb-3">
                            <div class="col-3">
                                <img src="../../resources/images/camisas.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-9">
                                <p class="fs-5 text-light">Centro de lavado MCL2040EPDG0 | 44 lb (lavado), 44 lb
                                    (secado)</p>
                                <p class="fs-6">Mayor capacidad, diseño fácil de usar y panel Touch amigable.</p>
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="fs-6">$199.99</p>
                                    <p class="fs-6">cantidad: 1</p>
                                    <p class="fs-6">Garantía: 12 meses</p>
                                    <p class="fs-6">Total: $199.99</p>
                                    <a href="">eliminar</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <img src="../../resources/images/camisas.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-9">
                                <p class="fs-5">Centro de lavado MCL2040EPDG0 | 44 lb (lavado), 44 lb (secado)</p>
                                <p class="fs-6">Mayor capacidad, diseño fácil de usar y panel Touch amigable.</p>
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="fs-6">$199.99</p>
                                    <p class="fs-6">cantidad: 1</p>
                                    <p class="fs-6">Garantía: 12 meses</p>
                                    <p class="fs-6">Total: $199.99</p>
                                    <a href="">eliminar</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-3">
                                <img src="../../resources/images/camisas.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="col-9">
                                <p class="fs-5">Centro de lavado MCL2040EPDG0 | 44 lb (lavado), 44 lb (secado)</p>
                                <p class="fs-6">Mayor capacidad, diseño fácil de usar y panel Touch amigable.</p>
                                <div class="d-flex flex-row justify-content-between">
                                    <p class="fs-6">$199.99</p>
                                    <p class="fs-6">cantidad: 1</p>
                                    <p class="fs-6">Garantía: 12 meses</p>
                                    <p class="fs-6">Total: $199.99</p>
                                    <a href="">eliminar</a>
                                </div>
                            </div>
                            <div class="col-2 mt-3">
                                <a class="btn btn-primary text-light" data-bs-toggle="offcanvas"
                                    href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                    Confirmar
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 mx-auto">
                        <div class="offcanvas offcanvas-end text-light bg-dark" tabindex="-1" id="offcanvasExample"
                            aria-labelledby="offcanvasExampleLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Resumen de compra</h5>
                                <button type="button" class="btn-close-white text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                            </div>
                            <div class="offcanvas-body">
                                <div>
                                    <p class="fs-4">Subtotal: $599.97</p>
                                    <p class="fs-4">Cantidad de productos: 3</p>
                                </div>
                                <div class="d-grid gap-2 col-10 mx-auto my-3">
                                    <button class="btn btn-primary" type="submit"
                                        onclick="confirmacion()">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- footer -->
            <footer class="bg-primary d-flex justify-content-around flex-column"></footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../../controllers/public/nav-login.js"></script>
    <script src="../../controllers/public/alerts.js"></script>
</body>

</html>